.container {
    max-height: 300px;
    max-width: 300px;
    min-height: 300px;
    min-width: 300px;
}

.container:hover{
    transform: scale(1.1);
    /* border: 10px solid #f2f2f2;; */
    /* background-color: rgb(0, 0, 0); */
}
/* 
.img:hover{
    background-color: rgba(0, 0, 0, 0.465);
} */


 .img {
    /* background-color: #f2f2f2; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
    max-width: 300px;
    max-height: 200px;
    min-height: 200px;
    min-width: 300px;
}

.cardinfo{
    /* padding: 15px; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.cardinfo h2 {
   color: rgb(0, 0, 0);
}

.Tipos{
    /* display: flex;
    gap: 10px;
    margin-top: 10px;
    align-content: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(19, 17, 17);
}

.Nombre{
    display: flex;
    justify-content: center;
    align-content: center;
    color: black;
}

.Tipos span{
    font-size: 12px;
    padding: 5px 20px;
    border-radius: 5px;

}