.lista{
    position: relative;
    width: 100%;
    height: 100%;
  }
.listaordenada{
  padding-top: 53px;
  position: absolute;
  width: 2%;
  margin: auto;

  }

.list{
    list-style-type: none;

  }

.cardpokemons{
  /* margin-top: 100px;
  margin-bottom: 20px; */
  min-height: 300px;
  max-height: 300px;
  min-width: 300px;
  max-width: 300px;

  }

.maincards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 50px;
    /* gap: 150px; */
    max-width: 1300px;
    margin: 0 auto; 
    /* padding-left:  50px;
    padding-right: 50px; */
    gap: 20px;
}

.divPaginado{
  display: flex;
  justify-content: center;
  text-align: center;
}
  
.asidecontainer{
 flex-direction: row;
 justify-content: center;
 display: flex; 
   gap: 10px;
}



.label{
  font-size: 20px;
}

.tituloF{
  color: black;
  gap: 10px;
}

.link{
  min-width: 100px;
  background-color: #fff;
}

.btnpaginado{
  display: inline;
  font-size: 20px;
  font-weight: 400px;
  color: white;
  background-color: #000000;
  padding: 2px 16px 8px;
  border: 1.1px solid black;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
}

.btnpaginado:hover{
  background-color: #EF4138;
  color: #fff;
}

.divPaginado{
  display: flex;
  flex-direction: column;
}

.divpaginado1{
  padding-top: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 5px;
}

.select{
  background-color: black;
  color: #fff;
  font-size: medium;
  border-radius: 7px;
  border-radius: 10px;
  cursor: pointer;
}

.options{
  /* background-color: #EF4138;
  color: #fff; */
  border-radius: 20px;
  cursor: pointer;
}
