.container{
    /* background-image: url(../../assets/POKEMON1.jpg); */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    flex-direction: column;
  }  
  .Link{
    display: flex;
    flex-direction: row;
  }

  .PokebolaandTitulo{
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .titulo{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .containerButtonPokebola{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .pokebola{
    height: 100px;
  }

  .btn{
    font-size: 30px;
    /* font-weight: 40; */
    height: 40px;
    color: #fff;
    background-color: black;
    border: 2.2px solid black;
    text-decoration: none;
    border-radius: 10px;
    /* text-align: right;      */
  
  }


  .btn:hover{
    background-color: #EF4138;
    color: #fff;
  }

  .btn:active {
    border-color: white;
    color: #000000;
  }
  
  .btn::selection {
    background-color: var(--neon-border-color);
    color: var(--neon-text-color);
  }
  
  .btn:focus {
    outline: none;
  }

