.Paginado{
    display: flex;  
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    
}

.number{
    min-width: 10px;
    list-style-type: none;
    cursor: pointer;
}

.numeros{
    background-color: black;
    margin: 5px;
    color: #fff;
    width: 70px;
    height: 50px;
    border-radius: 10px;
    font-size: 30px;
    cursor: pointer;
}

.numeros:hover {
    background-color: #EF4138;
    color: #fff;
}