/* .searchcontainer{
    padding-top: 20px;
    padding-left: 10px;
    
  }
  
  .btnsearch{
      font-size: 14px;
      font-weight: 600;
      background-color: #000000;
      color: #fff;
      border: 0.2rem solid black;
      border-radius: 2rem;
      text-decoration: none;
      animation: flicker 1.5s infinite alternate;   
      cursor: pointer;
      padding: 9px;
      margin-left: 7px;
      transition: 0.5s ease-in-out;
      position: absolute;
    }
    
    
    .inputsearch{
      width:330px;
      color: white;
      font-size: 15px;
      font-weight: 600;
      background: none;
      padding: 9px;
      border: black solid 5px;
      border-bottom: black solid 5px;
      border-radius: 15px;
      border-right: black solid 5px;
      background-color: #000000;
    }
    
    .inputsearch::placeholder {
      color: white;
    } */

  header form{
      display: flex;
      align-items: center;
  
      gap: 15px;
  }

.formgroup{
    display: flex;
    align-items: center;
   gap: 10px; 
   border: 1px solid #555;
    padding: 15px 20px;
    border-radius: 25px;
} 

.formgroup input{
    font-family: inherit;
    width: 300px;
    border: none;
    outline: none;
    font-size: 15px;
}


.iconsearch{
    width: 20px;
    height: 20px;
    stroke: #555;
}

.btnsearch{
    border: none;
    outline: none;
    border-radius: 25px;
    font-family: inherit;
    padding: 15px 30px;
    cursor: pointer;
    letter-spacing: 2px;
    background-color: var(--color-primary);
    color: #fff;
}

.btnsearch:hover{
    background-color: var(--color-primary-hover);
    color: #000;
}
